* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.landingBgImg {
  height: 100vh;
  width: 100%;
  background-image: url("./assets/bgImg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  color: #fff;
  padding-top: 3rem;
}

header nav {
  display: flex;
  gap: 2rem;
  margin-right: 10rem;
  padding-top: 2%;
}

header a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}

header a:hover {
  cursor: pointer;
  scale: 1.1;
  opacity: 0.8;
}

.headerInfo {
  display: flex;
}

.headerInfo img {
  width: 10%;
  position: absolute;
  left: 50%;
  margin-left: -85px;
  transition: 0.3s;
}

.headerInfo img:hover {
  cursor: pointer;
  scale: 1.1;
  opacity: 0.8;
}

.landingSocialIcons {
  font-size: 2rem;
  display: flex;
  gap: 1.5rem;
}

.landingSocialIcons i {
  transition: 0.3s;
}

.landingSocialIcons i:hover {
  cursor: pointer;
  scale: 1.1;
  opacity: 0.8;
}

.landingTitle {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12%;
  max-width: 700px;
}

.landingTitle h1 {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.landingTitle p {
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 15%;
}

.landingTitle button {
  color: #fff;
  font-size: 1.5rem;
  background-color: #2091f9;
  border: none;
  width: 35%;
  padding: 0.8rem 0;
  border-radius: 30px;
  transition: 0.3s;
}

.landingTitle button:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #0a71d1;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featuresTitle {
  text-align: center;
  max-width: 450px;
}

.featuresTitle h2 {
  font-size: 3rem;
  color: #252b42;
}

.featuresTitle p {
  font-size: 1.5rem;
  color: #374754;
}

.featuresInfo {
  display: flex;
}

.featuresInfo .fa-solid {
  color: #2091f9;
}

.featuresInfo h3 {
  color: #252b42;
}

.featuresInfo p {
  color: #374754;
}

.featuresInfo div {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
  text-align: center;
}

.featuresImg img {
  width: 100px;
}
